.DS_Store
.idea
*.log
tmp/

*.py[cod]
*.egg
build
htmlcov


.projectile
*.pyc
djWebDev/djWebDev/__pycache__/
djWebDev/storyGenerator/__pycache__/
*.drawio

#All text backup files
*.bak
#All data-base files
*.sqlite3