/*Colors
main(Off-White)- #AEA4BF
Secondary(Gold WHeat)- #8E8358
Accent(Light-red)- #E94F37
Secondary-Accent(Blueish)- #3F88C5

*/
html {
    font-family: 'Trispace', sans-serif;
    background-image: url("paperBCK.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body, html {
    height: 100%;
}

#title {
    font-size: clamp(1em, calc(.75em + 1vw), 2em);
    justify-content: left;
    display: flex;
}


/*navbar rules*/
.topNav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: hidden;
}

.topNav a {
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: clamp(.5em, calc(.5em + 1vw), 1.25em);
}

.topNav a:hover {
    color: #F6F7EB;
    /*text-decoration: underline;*/
    /*color: black;*/
}

/*end of navbar rules*/


/* content wrapper to keep everything pretty */
.content {
    border-radius: 3px;
    padding: 15px;
    margin: 5px 0 5px 0;
    background-color: #575A4B;
}

/*Start Form rules*/
.storyForm {
    display: flex;
    color: #F6F7EB;
    flex-direction: column;
    justify-content: left;
    padding: 12px;
}

.storyForm label {
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: space-evenly;
    color: #F6F7EB;
}

.storyForm .txtInput {
    min-width: 180px;
    max-width: 380px;
    width: clamp(100px, 50%, 880px);
    padding: 5px 5px;
    align-self: center;
}

.storyForm .submitButton-wrapper {
    padding: 15px 25px;
    display: flex;
    justify-content: center;
    align-self: center;
    font-family: 'Trispace', sans-serif;
    font-size: 14px;
}

.storyForm .submitButton {
    border-style: none;
    display: inline-block;
    padding: 5px 5px 5px;
    width: 180px;
    font-family: inherit;
}

.submitButton:hover {

    text-decoration: underline;
}

/*end form rules*/

/*styling story gen links*/
