{% extends 'storyGenerator/index.html' %}
{% load static %}
{% block sgPrev %}
    <a href="{% url 'prev' %}" class="previous">&laquo; Previous Story</a>
{% endblock sgPrev %}
{% block sgNext %}
    <a href="{% url 'next' %}" class="next">Next Story &raquo;</a>
{% endblock sgNext %}

{% block generation %}
    <form class="storyForm" id="story-form">
        <label for="genre">Genre:</label>
        <select class="txtInput" id="genre" name="genre">
            <option value="horror">Horror</option>
            <option value="action">Action</option>
            <option value="comedy">Comedy</option>
            <option value="scifi">Sci-Fi</option>
            <option value="fantasy">Fantasy</option>
        </select><br>
        <label for="conflict">Conflict:</label>
        <input class="txtInput" type="text" id="conflict" name="conflict"><br>
        <label for="resolution">Resolution:</label>
        <input class="txtInput" type="text" id="resolution" name="resolution"><br>
        <label for="protagonist">Protagonist:</label>
        <input class="txtInput" type="text" id="protagonist" name="protagonist"><br>
        <label for="adjective">Adjective:</label>
        <input class="txtInput" type="text" id="adjective" name="adjective"><br>
        <label for="propernoun">Proper Noun:</label>
        <input class="txtInput" type="text" id="propernoun" name="propernoun"><br>
        <label for="adverb">Adverb:</label>
        <input class="txtInput" type="text" id="adverb" name="adverb"><br>
        <label for="noun">Noun:</label>
        <input class="txtInput" type="text" id="noun" name="noun"><br>
        <label for="verb">Verb:</label>
        <input class="txtInput" type="text" id="verb" name="verb"><br>
        <div class="submitButton-wrapper">
            <input type="submit" onclick="console.log('clicked');" value="Generate story">
        </div>
        <script src="{% static 'storyGenerator/generation.js' %}"></script>
    </form>
    <div class="textArea-wrapper">
        <label for="madLib"></label>
        <textarea id="madLib" rows="16"
                  cols="60">Your Adventure Awaits You Here...</textarea>
    </div>

{% endblock generation %}